<div class="main-container" >
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="data">
            <div class="user-input-wrp">
                <br/>
                <input type="email" class="inputText" formControlName="login" required/>
                <span class="floating-label">Email</span>
            </div>
            <div class="user-input-wrp">
                <br/>
                <input type="password" class="inputText" formControlName="password" required/>
                <span class="floating-label">Password</span>
              </div>
        </div>
        <button class="login-button" type="submit" (submit)="login()" [disabled]="!loginForm.valid">Login</button>
    </form>
    
</div>