.main-holder{
    width: 100%;
    height:fit-content;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.holder{
    width: 70%;
    margin: auto;
}

.data-holder{
    width: 100%;
    height: fit-content;
    border: 1px solid black;
}

.sidebar{
    width: 20%;
    height: 100vh;
    border: 1px solid red;
}

.details-holder{
    width: 80%;
}

.pictures{
    
    width: 90%;
    margin: auto; 
    display: block; 
    margin-top: 5px;
    margin-bottom: 5px;

}

.star{
    height: 30px;
    margin: 3px;
}

.star:hover{
    cursor: pointer;
}

.opinion-holder{
    width: 100%;
    margin:0 auto;
}



.rating-form{

    margin: 0 auto;
    margin: 6px;
}

.form-body{
    width: 100%;
    margin: auto;
    border: 1px solid rgb(59, 110, 250);
    border-radius: 4px;
    background-color: rgba(179, 208, 249, 0.68);
}

.rate-stars{
    display: flex;
    margin-left: 5%;
}

.amenities-holder{
    width: 100%;
    border: 1px solid green;
    display:flex;
    flex-wrap: wrap;
}

.opinion{
    width: 90%; 
}

.amenities{
    width: fit-content;
    background-color: rgba(169, 169, 169, 0.737);
    border-radius: 2px;
    margin: auto;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.p{
    margin: auto;
    text-align: center;
}

textarea{
    resize: none;
    width: 90%;
    height: 200px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
}

.buttons{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.cancel-button{
    background-color: rgb(238, 77, 77);
    border: 2px solid black;
    border-radius: 3px;
    width: 100px;
    height: 40px;
}

.post-button{
    background-color: rgb(28, 131, 233);
    border: 2px solid black;
    border-radius: 3px;
    width: 100px;
    height: 40px;
}

.opinion-top{

    display: flex;
    margin: 5px;
    justify-content: space-between;
    border: 2px solid rgb(59, 110, 250);
    border-radius: 3px;
    padding: 3px;
}

.reviewes-header{
    display: flex;
}

