<div class="holder"  *ngIf="hotel">
    <div class="main-holder">
        <div class="sidebar">
            <div class="search-bar"></div>
            <div class="map"></div>
        </div>

        <div class="details-holder">
            <div class="data-holder">
                <app-image-slider [hotel]="hotel"></app-image-slider>
                <div class="amenities-holder">
                    <div class="amenities" *ngFor="let amenitie of hotel.amenities">
                        {{amenitie.name}}</div>
                </div>
                <div class="description">
                    <p>{{hotel.description}}</p>
                </div>
            </div>
            <div class="data-holder">
                <div class="opinion-holder">
                    <div class="opinion-top">
                        <h1>Reviews({{rating}})</h1>
                        <button *ngIf="!isRating" (click)="toggleFormVisiblity()">Rate this hotel</button>
                    </div>
                    
                    <div *ngIf="isRating" class="rating-form">
                        <div class="form-body">
                            
                            <form [formGroup]="ratingForm" (ngSubmit)="addOpinion()">
                                    <div class="rate-stars">
                                        <div  *ngFor="let star of stars; let i = index" (mouseover)="over(i)" (mouseleave)="leave()" (click)="setStars(i)">
                                            <img class="star" *ngIf="i < selectedStars"  src="assets/icons/1-full-star.png" alt="">
                                            <img class="star" *ngIf="i >= selectedStars" src="assets/icons/1-empty-star.png" alt="">
                                        </div>
                                    </div>
                                    <textarea  formControlName="opinion" required="true" placeholder="Tell us aout your expirience..."></textarea>
                                    <div class="buttons">
                                        <button class="cancel-button" (click)="cancel()">Cancel</button>
                                        <button class="post-button" type="submit">Post</button>
                                    </div>  
                                
                             
                            </form>
                        </div>
                        
                    </div>
                    <div class="opinin" *ngFor="let rating of hotel.ratings">
                        <app-opinion [opinion]="rating"></app-opinion>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    
    
</div>


