form{
    height: fit-content;
    width: 500px;
    background-color: rgba(135, 117, 162, 0.864);
    padding: 30px;
    border-radius: 10px;
}

mat-form-field{
    width: 240px;
    display: flex;
    
}

.Submit-Button{
    background-color: blue;
}



.basic-info{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.additional-info{
    width: auto;
   
}

.add-hotel-button{
    width: 490px;
    margin: 5px;
    height: 60px;
    background-color: rgb(99, 5, 106);
    color: white;
    font-size: 40px;
    
}

.close-button{
    position: relative;
    top: 0%;
    left: 90%;
    z-index: 12;
    transform: translate(50%, -50%);
    background-color: transparent;
    border: 2px;
    border-radius: 20px;
    color: red;
    font-size: 40px;
}

.close-button:hover{
    cursor: pointer;
}

