<div class="navbar">
    <div class="holder">
        <div class="top-row">
            <div class="name">
                Chillout.com
            </div>
           <div class="buttons">
                <button class="credentials">Register</button>
                <button class="credentials">Login</button>
                <button class="credentials" (click)="navigateToUserProfile()">Profile</button>
           </div>
        </div>
        <div class="info">
            <div class="info-text">
                    Where do You want to go...
            </div>
            <div class="details">
                    <label>Country...</label>
                    <select name="Country" class="details-input">
                        <option  *ngFor="let con of cont" value="con.name">{{con.name}}</option>
                    </select>
                    <input class="details-input" type="text" placeholder="Destination">
                    <input class="details-input" #from type="date" placeholder="Departure Date..." required>
                    <input class="details-input" #to type="date" placeholder="Arrival Date..." required>
                    <button class="details-input"  (click)="submit(from.value, to.value)">Search</button>
                
            </div>
           
            
        </div>
    </div>
    
</div>
