.main-holder{
    position: center;
    width: 75%;
    margin: auto;
    margin-top: 10px;

    height:100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 5px;
}
.filter{
    border: 1px solid rgb(243, 24, 24);
    height: 100%;
}
.hotel-box{
    height:fit-content;
}
.hotel-button{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(214, 25, 243);
    border-radius: 15px;
    box-shadow: 3px 3px rgba(192, 78, 241, 0.571);
}

.hotel-button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px 4px rgba(133, 30, 177, 0.571);
}
