.main-holder{
    position: center;
    width: 55%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
}
.filter{
    border: 1px solid rgb(243, 24, 24);
    height: 100%;
}
.hotel-box{

    height:fit-content;
}
.hotel-button{
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgba(154, 152, 152, 0.642);
    border-radius: 15px;
}

.hotel-button:hover{
    cursor: pointer;
}
