.main-container{
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 60fr 1fr 100fr 1fr 100fr 1fr 100fr;
    margin: 5px;
}
.picture{
    border-radius: 15px;
    width: 180px;
    height: 180px;
}
.vertical-line {
    width: 1px;
    background-color: rgba(154, 152, 152, 0.642);;
    height: 100%; /* Dowolna wysokość, którą chcesz dla kreski */
    margin: 0px; /* Dowolne marginesy wokół kreski */
    margin-left: 4px;
  }

.data-box{
    display: grid;
    grid-template-columns: 1fr 10fr;

}

.icon{
    height: 20px;
    margin-left: 1px;
    padding: 3px;
}

.data{
    text-align: left;
    padding: 3px;
    
}

h3{
    margin-bottom: 0;
}